.footer {
  padding-bottom: 60px;
  padding-top: 67px;
}
.footer__text {
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 770px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .footer__text {
    font: "Inter", arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
}
