.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  display: none;
}
.modal_opened {
  display: flex;
}
.modal__container {
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  position: relative;
}
.modal__container-close {
  background-image: url("../images/close-icon.svg");
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.modal__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 54px;
  margin: 0;
}
.modal__container-form {
  padding: 36px;
}
.modal__container-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 30px;
}
.modal__container-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.modal__container-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: black;
  border: none;
  border-radius: 2px;
  position: flex;
  width: 358px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
